<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>天天生鲜-{% block title %}{% endblock %}</title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
    {% endblock %}
    {% block js %}{% endblock %}

</head>

<body>

    {% block header %}{% endblock %}
    {% block article %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block footerjs %}{% endblock %}

</body>
</html>