{% extends 'base_detail_list.html' %}
{% load staticfiles %}
{% block title %}天天生鲜-商品详情{% endblock title %}
{% block topfiles %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
        $(function () {
            function update_total_price() {
                var goods_count = $('.num_show').val();
                goods_count = parseInt(goods_count);

                var goods_price = $('.show_pirze').children('em').text();
                goods_price = parseFloat(goods_price);

                var total_price = goods_count*goods_price;

                $('.total').children('em').text(total_price.toFixed(2)+'元');
            }

            update_total_price();

            $('.add').click(function () {
                var num = $('.num_show').val();
                num = parseInt(num) + 1;
                $('.num_show').val(num);
                update_total_price();
            });

            $('.minus').click(function () {
                var num = $('.num_show').val();
                num = parseInt(num) - 1;
                if (num <= 0){
                    num = 1;
                }
                $('.num_show').val(num);
                update_total_price();
            });

            $('.num_show').blur(function () {
                var num = $(this).val();
                if (isNaN(num) || num.trim().length <= 0 || parseInt(num) <= 0){
                    num = 1;
                }
                $(this).val(parseInt(num));
                update_total_price();
            })
        })

    </script>
{% endblock topfiles %}
{% block main_content %}
	<div class="breadcrumb">
		<a href="/">全部分类</a>
		<span>></span>
		<a href="/list/{{ type_id }}/1/">{{ type_title }}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>
	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{% static goods.img_url %}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.goods_name }}</h3>
			<p>{{ goods.goods_sub_title }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods.goods_price }}</em></span>
				<span class="show_unit">单  位：{{ goods.goods_unite }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{ goods.goods_price }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn " id="buy" goods_id="{{ goods.id }}">立即购买</a>
				<a href="javascript:;" class="add_cart active" id="add_cart" goods_id="{{ goods.id }}">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for goods_new in goods_new_li %}
					<li>
						<a href="/goods/{{ goods_new.id }}/"><img src="{% static goods_new.img_url %}"></a>
						<h4><a href="/goods/{{ goods_new.id }}/">{{ goods_new.goods_name }}</a></h4>
						<div class="prize">￥{{ goods_new.goods_price }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods.goods_info|safe }} </dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock main_content %}
{% block bottom %}
	<div class="add_jump"></div>
{% endblock bottom %}

{% block bottomfiles %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		$('.operate_btn').delegate('a', 'click', function (event) {
            $(this).addClass('active').siblings('a').removeClass('active');
            var pos = $('.login_btn').text().indexOf('注册');
            if (pos >= 0) {
                location.href = '/user/login/'
            }
            else {
                var goods_id = $(this).attr('goods_id');
                var goods_count = $('.num_show').val();
                $.get('/cart/add/?goods_id=' + goods_id + '&goods_count=' + goods_count, function (data) {
                    if (data.res == 1) {
                        alert('商品库存不足')
                    }
                    else {
                        if (event.target.id == "buy") {
                            location.href = '/cart/'
                        }
                        else {
                            $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'});
                            var $to_x = $('#show_count').offset().top;
                            var $to_y = $('#show_count').offset().left;
                            $(".add_jump").stop().animate({
                                    'left': $to_y + 7,
                                    'top': $to_x + 7
                                },
                                "fast", function () {
                                    $(".add_jump").fadeOut('fast', function () {
                                        var total_count = $('#show_count').text();
                                        total_count = parseInt(total_count) + parseInt(goods_count);
                                        $('#show_count').html(total_count);
                                    });
                                });
                        }
                    }
                })
            }
        })
	</script>
{% endblock bottomfiles %}